html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: .9em;
}

/*
    APP Specific
*/

#photo-container{
	display: grid;
	background-color: #000000;
}

#photo-container img{
	width: 100vw;
	height: 100vh;
	object-fit: contain;
	image-orientation: from-image;
}

#toolbar{
    position:absolute;
    left:0;
    top:0;
	width: 100%;
    padding: 1em 0;
	background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    color: #ffffff;
}

#buckets{
    float: left;
    padding: 0 1em;
}

#buckets span, #save span{
    padding: .25em .6em;
    background-color: #ffffff;
    margin: 0 .5em;
    color: #000000;
    border-radius: 1em;
}

#buckets span.selected{
    background-color: #ff0000;
}

#save{
    float:right;
}

#save span{
    cursor: pointer;
}

#save span:hover{
    background-color: #dadada;
}

.state-success{
    background-color: green !important;
    color: #ffffff;
}

.state-error{
    background-color: red !important;
    color: #ffffff;
}

#info{
    float:right;
    padding: 0 1em;
}

.bucket{
    cursor: pointer;
}

#dialogbg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display : none;
    z-index: 99;
    background-color: rgba(0, 0, 0, .5);

}

#dialog {
    background-color: #ffffff;
    width: 600px;
    height: 400px;
    margin-left: calc(50vw - 300px);
    margin-top: calc(50vh - 200px);
    z-index: 999;
    position: absolute;
    padding: 10px;
}